
.square {
  &__container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-right: 2px solid lightgray;
    width: 80px;
    height: 100%;
    box-sizing: border-box;
    font-size: 40px;
    color: lightblue;
    &:last-child {
      border: none;
    }
  }
}